WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change_me
WORDPRESS_DB_NAME=wordpress
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_DEBUG=false
WORDPRESS_URL=https://cms.oemline.eu
MARIADB_ROOT_PASSWORD=change_me_root
